.btn-red {
  background-color: #b27b61;
  color: #fff;
  border-radius: 15px;
  border-left: 0px solid #888;
}
.btn-red:hover {
  background-color: #db6c38;
  color: #fff;
  border-left: 0px solid #888;
}
.btn-red:focus,
.btn-red.focus {
  background-color: #db6c38;
  color: #fff;
  border-left: 0px solid #888;
}
.btn-base {
  background-color: #74b47c;
  color: #fff;
  border-radius: 15px;
  border-left: 0px solid #888;
}
.btn-base:hover {
  background-color: #4fd960;
  color: #fff;
  border-left: 0px solid #888;
}
.btn-base:focus,
.btn-base.focus {
  background-color: #4fd960;
  color: #fff;
  border-left: 0px solid #888;
}
.btn-orange {
  background-color: #ecb857;
  color: #fff;
  border-radius: 15px;
  border-left: 0px solid #888;
}
.btn-orange:hover {
  background-color: #ffbe44;
  color: #fff;
  border-left: 0px solid #888;
}
.btn-orange:focus,
.btn-orange.focus {
  background-color: #ffbe44;
  color: #fff;
  border-left: 0px solid #888;
}
.btn {
  white-space: normal;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 30px 16px;
  font-size: 18px;
  line-height: 1;
  max-width: 240px;
  margin: 20px auto;
}
@media (min-width: 768px) {
  .btn-lg,
  .btn-group-lg > .btn {
    padding: 60px 32px;
    line-height: 2;
    max-width: 400px;
    font-size: 30px;
  }
}
.full {
  height: 50%;
}
@media (min-width: 500px) {
  .full {
    transform: translateY(-60px) translateY(100%);
    -webkit-transform: translateY(-60px) translateY(100%);
  }
}
@media (min-width: 500px) {
  .wrapper {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}
.img-choose-user {
  width: 10rem;
  height: 10rem;
  margin: 10px auto;
}
@media (min-width: 500px) {
  .img-choose-user {
    width: 16rem;
    height: 16rem;
  }
}
@media (min-width: 768px) {
  .img-choose-user {
    width: 20rem;
    height: 20rem;
  }
}
h4 {
  font-size: 20px;
}
@media (min-width: 768px) {
  h4 {
    font-size: 30px;
  }
}
