.btn-base {
  background-color: #74b47c;
  color: #fff;
  border-radius: 15px;
  border-left: 0px solid #888;
}
.btn-base:hover {
  background-color: #44e458;
  color: #fff;
  border-left: 0px solid #888;
}
.btn-base:focus,
.btn-base.focus {
  outline: none !important;
  background-color: #44e458;
  color: #fff;
  border-left: 0px solid #888;
}
@media (min-width: 768px) {
  .btn-base {
    max-width: 400px;
  }
}
.form-group-lg {
  margin: 20px auto;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  background-image: none;
  border: 1px solid #fff;
  border-radius: 20px;
}
.btn-link {
  font-weight: 600;
  color: #fff;
  margin: 10px auto;
}
.btn-link:hover {
  color: #74b47c;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #fff;
}
.btn-link:active {
  text-decoration: none;
}
label {
  font-weight: 400;
}
body {
  color: #fff;
  /*background: #fff url(/assets/images/green.png) repeat center top;*/
  background: #fff url("/images/green-400.png") repeat center top;
  background-size: cover;
}
@media (min-width: 500px) {
  body {
    background: #fff url("/images/green-768.png") repeat center top;
  }
}
@media (min-width: 768px) {
  body {
    background: #fff url("/images/green.png") repeat center top;
  }
}
.full {
  height: 50%;
}
@media (min-width: 500px) {
  .full {
    transform: translateY(-60px) translateY(100%);
    -webkit-transform: translateY(-60px) translateY(100%);
  }
}
@media (min-width: 500px) {
  .wrapper {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}
.img-choose-user {
  width: 10rem;
  max-width: 200px;
  margin: 10px auto;
}
@media (min-width: 500px) {
  .img-choose-user {
    width: 16rem;
  }
}
@media (min-width: 768px) {
  .img-choose-user {
    width: 20rem;
  }
}
