.container {
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}
.col-md-4,
.col-sm-4,
.col-xs-6,
.col-md-6,
.col-sm-6 {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 10px;
}
.col-xs-12,
.col-sm-12,
.col-md-12 {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 10px;
}
.btn {
  white-space: normal;
}
.btn-orange {
  background-color: #ecb857;
  padding: 10px 16px;
  color: #fff;
  border-radius: 15px;
  border-left: 0px solid #888;
}
@media (min-width: 768px) {
  .btn-orange {
    display: inline;
    padding: 10px 50px;
  }
}
@media (min-width: 992px) {
  .btn-orange {
    display: inline;
    padding: 10px 80px;
  }
}
@media (min-width: 1200px) {
  .btn-orange {
    display: inline;
    padding: 10px 120px;
  }
}
.btn-orange:hover {
  background-color: #ffbe44;
  color: #fff;
  border-left: 0px solid #888;
}
.btn-orange:focus,
.btn-orange.focus {
  background-color: #ffbe44;
  color: #fff;
  border-left: 0px solid #888;
}
.btn-orange-2 {
  background-color: #ecb857;
  padding: 10px 16px;
  color: #fff;
  border-radius: 15px;
  border-left: 0px solid #888;
}
@media (min-width: 768px) {
  .btn-orange-2 {
    display: inline;
    padding: 10px 120px;
  }
}
@media (min-width: 992px) {
  .btn-orange-2 {
    display: inline;
    padding: 10px 160px;
  }
}
@media (min-width: 1200px) {
  .btn-orange-2 {
    display: inline;
    padding: 10px 240px;
  }
}
.btn-orange-2:hover {
  background-color: #ffbe44;
  color: #fff;
  border-left: 0px solid #888;
}
.btn-orange-2:focus,
.btn-orange-2.focus {
  background-color: #ffbe44;
  color: #fff;
  border-left: 0px solid #888;
}
.btn-green {
  background-color: #74b47c;
  padding: 5px 16px;
  color: #fff;
  border-radius: 15px;
  border-left: 0px solid #888;
}
@media (min-width: 768px) {
  .btn-green {
    padding: 10px 16px;
  }
}
.btn-green:hover {
  background-color: #4fd960;
  color: #fff;
  border-left: 0px solid #888;
}
.btn-green:focus,
.btn-green.focus {
  background-color: #4fd960;
  color: #fff;
  border-left: 0px solid #888;
}
.btn-green-2 {
  background-color: #74b47c;
  padding: 5px 16px;
  max-width: 600px;
  color: #fff;
  border-radius: 15px;
  border-left: 0px solid #888;
}
@media (min-width: 768px) {
  .btn-green-2 {
    padding: 10px 16px;
  }
}
.btn-green-2:hover {
  background-color: #4fd960;
  color: #fff;
  border-left: 0px solid #888;
}
.btn-green-2:focus,
.btn-green-2.focus {
  background-color: #4fd960;
  color: #fff;
  border-left: 0px solid #888;
}
.graph {
  height: 65%;
}
@media (min-width: 768px) {
  .graph {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .graph {
    width: 80%;
    display: inline-block;
    margin-left: 10%;
  }
}
@media (min-width: 1200px) {
  .graph {
    width: 60%;
    display: inline-block;
    margin-left: 20%;
  }
}
.btn-lg {
  font-size: 1.2em;
}
@media (min-width: 768px) {
  .btn-lg {
    font-size: 1.5em;
  }
}
